<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
    <div class="navbar-fixed">
        <nav class="yellow darken-4">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo brown-text text-darken-4">BeerMe</a>
                <form action="" method="post">
                    <div class="input-field">
                        <input id="search" type="search" name="search">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
                <ul id="nav" class="right hide-on-small-and-down">
                    <li><a href="/">Browse</a></li>
                    <li><a href="/beerme">Beer Me</a></li>
                    <li><a href="/mybeer">My Beer</a></li>
                    <li><a id="login" href="#loginModal" class="modal-trigger">Log In</a></li>
                    <li><a id="signup" href="#signupModal" class="modal-trigger">Sign Up</a></li>
                    <li><a id="logout" class="hide" href="/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">

  
        <div id="loginModal" class="modal ">
            <h5 class="modal-close">&#10005;</h5>
            <div class="modal-content center">
                <h4>Login Form</h4>
                <br>
                <form id="loginform" >
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <label for="loginEmail">Email</label>
                        <input id="loginEmail" type="text" name="email"/>
                    </div>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <label for="loginPassword">Passord</label>
                        <input id="loginPassword" type="password" name="password"/>
                    </div>
                    <br>
                    <input type="submit" value="Log In" class="btn yellow darken-4 btn-large">
                </form>
            </div>
        </div>
        <div id="signupModal" class="modal ">
            <h5 class="modal-close">&#10005;</h5>
            <div class="modal-content center">
                <h4>Sign Up Form</h4>
                <br>
                
                <form id="signupform" >
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <label for="singupEmail">Email</label>
                        <input id="singupEmail" type="text" name="email"/>
                    </div>
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <label for="signupPassword">Passord</label>
                        <input id="signupPassword" type="password" name="password"/>
                    </div>
                    <br>
                    <input type="submit" value="Sign Up" class="btn yellow darken-4 btn-large">
                </form>
            </div>
        </div>
        <div id="logInReminder" class="section hide">
            <h3>You're not logged in!</h3>
            <h6><a href="#loginModal" class="modal-trigger">Log In Here</a></h6>
        </div>
        <div id="myBeer">
                
            
        </div> 
    </div>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/mybeer.js"></script>
    <script type="text/javascript" src="/scripts/materialize.min.js"></script>
</body>
</html>